.progressBar {
    // border: 1px solid #707070;
        border-radius: 20px;
        opacity: 1;
        position: absolute;
        margin-top: 159px;
        margin-left: -500px;
            width: 70%;
    section {
        background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 20px 0px 0px 20px;
            opacity: 1;
            position: fixed;
        }

}