.progressBar {
    background-color: #fff;
    height: 20px;
    display: flex;
    margin-top: 160px;
    position: relative;
    section {
        background-color: #fff;
        width: 33.3%;
    }


}