body {
  background: #0d0d0d 0% 0% no-repeat padding-box;
  opacity: 1;
  color: white;
  display: flex;
    justify-content: center;
    margin-top: 25vh;
    height: 100vh;
}
body .user {
  position: absolute;
  margin-left: 40%;
  margin-top: -200px;
}